{{ with .data -}}
#
{{ if index . "deprecated" -}}
# ** DEPRECATED **
#
{{ end -}}
# To use this policy with the ec command line:
#   ec validate image \
#     --image $IMAGE \
#     --public-key key.pub \
#     --policy github.com/enterprise-contract/config//{{ $.directory }}
#
# To use with an Konflux Enterprise Contract Integration Test CR:
#   ...
#   spec:
#     params:
#     - name: POLICY_CONFIGURATION
#       value: github.com/enterprise-contract/config//{{ $.directory }}
#     ...
#
# In Konflux there is also an EnterpriseContractPolicy CRD containing this policy.
# You can use it by specifying `enterprise-contract-service/{{ $.directory }}` as
# the param value instead of the GitHub URL.
#
# See also:
# - https://enterprisecontract.dev/docs/ec-policies/release_policy.html#_available_rule_collections
# - https://enterprisecontract.dev/docs/ec-cli/main/configuration.html
#
name: {{.name}}
description: >-
  {{ .description }}
  (Originally defined in https://github.com/enterprise-contract/config/blob/main/{{ $.directory }}/policy.yaml )

sources:
  - name: Default
    policy:
      - github.com/enterprise-contract/ec-policies//policy/lib
      - github.com/enterprise-contract/ec-policies//policy/release
    data:
      - oci::quay.io/konflux-ci/tekton-catalog/data-acceptable-bundles:latest
      - github.com/release-engineering/rhtap-ec-policy//data
    config:
      include:
        {{ .include | toYAML | strings.Indent 8 | strings.TrimSpace }}
      exclude:
        {{ .exclude | toYAML | strings.Indent 8 | strings.TrimSpace }}

{{- end -}}
